DB_DIALECT=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=

FRONTEND_DOMAIN=

NODE_ENV=

PORT=

JWT_SECRET_SEED=
JWT_EXPIRE_IN=

MAIL_CODE_EXPIRE=
MAIL_SEND_LIMIT=
MAIL_SEND_ADDR=

RESEND_API_KEY=